[user]
	name = Mike Wu
	email = hello@mikewu.dev
[core]
	excludesfile = /Users/mike/.gitignore
        editor = nvim
	whitespace = cr-at-eol
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
